Source: qlc
Section: Other
Priority: optional
Maintainer: Heikki Junnila <hjunnila@users.sf.net>
Build-Depends: debhelper (>= 7.0.0), libqt4-dev (>= 4.6.0),
		libasound2-dev (>= 1.0.16), libusb-dev (>= 2:0.1.12),
		libftdi-dev (>= 0.17), shared-mime-info (>= 0.71),
		make, g++, libstdc++-dev
Standards-Version: 3.6.0

Package: qlc
Section: Other
Architecture: i386 amd64
Replaces: qlc-fixtures, qlc-input-profiles
Conflicts: qlc-fixtures, qlc-input-profiles
Provides: qlc-fixtures, qlc-input-profiles
Depends: libqt4-core (>= 4.6.0), libqt4-xml (>= 4.6.0), libqt4-gui (>= 4.6.0),
	 shared-mime-info (>= 0.71)
Description: Software DMX lighting desk
  Q Light Controller - The Linux DMX lighting desk. Includes also fixture
  definitions and input profiles. In order to get access to real DMX hardware,
  you need to download an output plugin from http://www.sf.net/projects/qlc/files

Package: qlc-input-hid
Section: Other
Architecture: i386 amd64
Depends: libqt4-core (>= 4.6.0), libqt4-gui (>= 4.6.0)
Description: Input plugin supporting HID devices
  Input plugin for Q Light Controller that enables input data from
  external HID-compliant devices (for example joysticks, mice and keyboards).

Package: qlc-input-midi
Section: Other
Architecture: i386 amd64
Depends: libasound2 (>= 1.0.16), libqt4-core (>= 4.6.0), libqt4-gui (>= 4.6.0)
Description: Input plugin supporting MIDI devices
  Input plugin for Q Light Controller that enables input data from
  external MIDI controller devices (for example Behringer BCF2000).

Package: qlc-input-enttec-wing
Section: Other
Architecture: i386 amd64
Depends: libqt4-core (>= 4.6.0), libqt4-gui (>= 4.6.0), libqt4-network (>= 4.6.0)
Description: Input plugin supporting ENTTEC wings
  Input plugin for Q Light Controller that enables input data from
  ENTTEC Shortcut, Playback and Program wings.

Package: qlc-output-dmx4linux
Section: Other
Architecture: i386 amd64
Depends: libqt4-core (>= 4.6.0), libqt4-gui (>= 4.6.0)
Description: Output plugin for DMX devices supported thru the DMX4Linux suite
  Output plugin for DMX devices supported thru the DMX4Linux suite
  (http://llg.cubic.org).

Package: qlc-output-enttec-dmxusb
Section: Other
Architecture: i386 amd64
Replaces: qlc-output-ftdi, qlc-output-enttec-dmxusbpro
Provides: qlc-output-ftdi, qlc-output-enttec-dmxusbpro
Conflicts: qlc-output-ftdi, qlc-output-enttec-dmxusbpro
Depends: libftdi1 (>= 0.17), libqt4-core (>= 4.6.0), libqt4-gui (>= 4.6.0)
Description: Output plugin for Enttec DMX USB dongles
  Output plugin for Enttec DMX USB Pro and Open DMX USB. This plugin replaces
  old qlc-output-ftdi and qlc-output-enttec-dmxusbpro package.

Package: qlc-output-udmx
Section: Other
Architecture: i386 amd64
Depends: libusb-0.1-4 (>= 2:0.1.12), libqt4-core (>= 4.6.0), libqt4-gui (>= 4.6.0)
Description: Output plugin for uDMX devices by anyma
  Output plugin for uDMX devices by anyma (www.anyma.ch).

Package: qlc-output-peperoni
Section: Other
Architecture: i386 amd64
Replaces: qlc-output-usbdmx
Conflicts: qlc-output-usbdmx
Provides: qlc-output-usbdmx
Depends: libusb-0.1-4 (>= 2:0.1.12), libqt4-core (>= 4.6.0), libqt4-gui (>= 4.6.0)
Description: Output plugin for Peperoni Light DMX dongles
  Output plugin for DMX dongles (Rodin, LPR2DMX, USBDMX21) manufactured by
  Peperoni Light (www.peperoni-light.de).

Package: qlc-output-midi
Section: Other
Architecture: i386 amd64
Depends: libasound2 (>= 1.0.16), libqt4-core (>= 4.6.0), libqt4-gui (>= 4.6.0)
Description: Output plugin supporting DMX thru MIDI devices
  DMX output plugin for MIDI devices.
