Source: qlc
Section: Other
Priority: optional
Maintainer: Heikki Junnila <hjunnila@users.sf.net>
Build-Depends: debhelper (>= 7.0.0), libqt4-dev (>= 4.3.0),
		libasound2-dev (>= 1.0.16), libusb-dev (>= 2:0.1.12),
		libftdipp-dev (>= 0.17)
Standards-Version: 3.6.0

Package: qlc
Section: Other
Architecture: i386 amd64
Replaces: qlc-fixtures, qlc-input-profiles
Conflicts: qlc-fixtures, qlc-input-profiles
Provides: qlc-fixtures, qlc-input-profiles
Depends: libqt4-core (>= 4.3.0), libqt4-xml (>= 4.3.0), libqt4-gui (>= 4.3.0)
Description: Software DMX lighting desk
  Q Light Controller - The Linux DMX lighting desk. Includes also fixture
  definitions and input profiles. In order to get access to real DMX hardware,
  you need to download an output plugin from http://www.sf.net/projects/qlc/files

Package: qlc-input-hid
Section: Other
Architecture: i386 amd64
Depends: qlc
Description: Input plugin supporting HID devices
  Input plugin for Q Light Controller that enables input data from
  external HID-compliant devices (for example joysticks, mice and keyboards).

Package: qlc-input-midi
Section: Other
Architecture: i386 amd64
Depends: qlc, libasound2 (>= 1.0.16)
Description: Input plugin supporting MIDI devices
  Input plugin for Q Light Controller that enables input data from
  external MIDI controller devices (for example Behringer BCF2000).

Package: qlc-input-enttec-wing
Section: Other
Architecture: i386 amd64
Depends: qlc
Description: Input plugin supporting ENTTEC wings
  Input plugin for Q Light Controller that enables input data from
  ENTTEC Shortcut, Playback and Program wings.

Package: qlc-output-dmx4linux
Section: Other
Architecture: i386 amd64
Depends: qlc
Description: Output plugin for DMX devices supported thru the DMX4Linux suite
  Output plugin for DMX devices supported thru the DMX4Linux suite
  (http://llg.cubic.org).

Package: qlc-output-enttec-dmxusb
Section: Other
Architecture: i386 amd64
Replaces: qlc-output-ftdi
Provides: qlc-output-ftdi
Conflicts: qlc-output-ftdi, qlc-output-enttec-dmxusbpro
Depends: qlc, libftdipp1 (>= 0.17)
Description: Output plugin for Enttec DMX USB dongles
  Output plugin for Enttec DMX USB Pro and Open DMX USB. This plugin replaces
  the old qlc-output-ftdi package. It uses the FTDI D2XX interface to access
  Enttec DMX dongles and therefore cannot live together with
  qlc-output-enttec-usbdmxpro (which, in turn, uses the VCP interface).

Package: qlc-output-enttec-dmxusbpro
Section: Other
Architecture: i386 amd64
Conflicts: qlc-output-enttec-dmxusb, qlc-output-ftdi
Depends: qlc
Description: Output plugin for Enttec DMX USB Pro dongles with VCP support
  Output plugin for Enttec DMX USB Pro using Virtual Communications Port for
  accessing the device. This plugin requires that the qlc-output-enttec-dmxusb
  and qlc-output-ftdi are removed because the D2XX interface used by them
  overrides the ftdi_sio (VCP) kernel module used by this plugin.

Package: qlc-output-udmx
Section: Other
Architecture: i386 amd64
Depends: qlc, libusb-0.1-4 (>= 2:0.1.12)
Description: Output plugin for uDMX devices by anyma
  Output plugin for uDMX devices by anyma (www.anyma.ch).

Package: qlc-output-peperoni
Section: Other
Architecture: i386 amd64
Replaces: qlc-output-usbdmx
Conflicts: qlc-output-usbdmx
Provides: qlc-output-usbdmx
Depends: qlc
Description: Output plugin for Peperoni Light DMX dongles
  Output plugin for DMX dongles (Rodin, LPR2DMX, USBDMX21) manufactured by
  Peperoni Light (www.peperoni-light.de).

Package: qlc-output-midi
Section: Other
Architecture: i386 amd64
Depends: qlc, libasound2 (>= 1.0.16)
Description: Output plugin supporting DMX thru MIDI devices
  DMX output plugin for MIDI devices.
