.menutitle {
font-family: helvetica, arial, lucida;
font-size: 18pt;
font-weight: bold;
color: white
}

BODY {
background: white
}

A:hover {
text-decoration: underline;
}

.newseven {
font-family: helvetica, arial, lucida;
font-size: 10pt;
text-decoration: none;
color: white
}

.newsodd {
font-family: helvetica, arial, lucida;
font-size: 10pt;
text-decoration: none;
}

.headertd {
font-family: helvetica, arial, lucida;
font-size: 14pt;
font-weight: bold;
background-color: #649af4;
text-indent: 1em;
color: white
}

.itemtd {
background-color: white;
text-indent: 1em;
font-family: helvetica, arial, lucida;
font-size: 10pt;
text-decoration: none;
color: black
}

.doctd {
background-image: url(pics/back.jpg);
}

.menutext {
font-family: helvetica, arial, lucida;
font-size: 10pt;
font-weight: normal;
text-decoration: none;
color: black
}

.link {
font-family: lucida, arial, helvetica;
font-weight: normal;
text-decoration: none;
color: #649af4
}

.title {
font-family: helvetica, arial, lucida;
font-size: 18pt;
font-weight: bold;
color: white
}

.subtitle {
font-family: helvetica, arial, lucida;
font-size: 14pt;
font-weight: normal;
color: white
}

.subtitle2 {
font-family: helvetica, arial, lucida;
font-size: 12pt;
font-weight: bold;
color: white
}

.normal {
font-family: helvetica, arial, lucida;
font-size: 10pt;
text-decoration: none;
color: black
}

.normalb {
font-family: lucida, arial, helvetica;
font-size: 10pt;
font-weight: bold;
text-decoration: none;
color: white
}
